body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.font-family-size {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height {
    line-height: 1.5;
}



.class-name {
    color: #d9534f;
    background-color: #f9d6d5;
    padding: 10px;
    border-radius: 5px;
}

#solutions {
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.solutions-parag-container p {
    font-style: italic;
    color: green;
}

a:hover {
    color: red;
}

a:link {
    color: green;
}

a:active {
    color: yellow;
}

a:visited {
    color: pink;
}

.box1, .box2, .box3, .box4 {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box1 {
    background-color: #f0ad4e;
    color: #fff;
}

.box2 {
    background-color: #5bc0de;
    color: #fff;
}

.box3 {
    background-color: #5cb85c;
    color: #fff;
}

.box4 {
    background-color: #d9534f;
    color: #fff;
}

h3 {
    width: 300px;
    height: 30px;
    padding: 6px 11px 4px 9px;
    border: 1px solid rgb(229, 228, 228);
    margin: 20px auto;
    text-align: center;
    color: #000000;
}

.project-highlight {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    background-color: #f7f7f7;
    color: #333;
}

.pricing {
    text-align: center;
    margin: 20px 0;
}

.pricing p {
    font-size: 24px;
    margin: 10px 0;
}

.line-through {
    text-decoration: line-through;
    color: #777;
    margin-right: 10px;
}

.sale-price {
    color: #d9534f;
    font-weight: bold;
}




.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


.logo {
    height: 20px;
    width: 20px;
}